.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    display: block;
    animation: left-move-in;
    animation-duration: 1s;

    @include respond(phone){
      letter-spacing: 1rem;
    }
  }
  &--sub {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.74rem;
    display: block;
    animation: 1s right-move-in;

    @include respond(phone){
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: transparent;
  letter-spacing: 0.2rem;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
